
.header-banner {
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../images/background.jpg");
    background-size: cover; 
    background-position: center;
    width: 100%; 
    height: 100%; 
}

.title{
    margin-top: 150px;
    font-size: 100px;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.title h1{
    font-size: 100px;

}

.direction{
    background: linear-gradient(to bottom, #000000, #001f3f);
    color: #fff;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 120px;
    margin-top: 10px;
}

.direction .container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.direction .content{
    width: 50%;
}
.direction h2{
    font-size: 50px;
    font-weight: 900;
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    padding-bottom: 20px;
}
.direction .laptop img{
    max-width: 650px;
    margin-left: 120px;
}
.future {
    background: linear-gradient(to bottom, #001f3f 60%, #ffffff);
    margin-bottom: 20px;

    width: 100%;
    height: 82%;
    background-size: cover; 
    background-position: center;
    display: flex; 
    align-items: center; 
    padding-bottom: 100px
}

.about_direction{
    width: 45%;
    color: rgba(255, 255, 255, 0.5);
    margin: 30px 0 0 50px;
}
.about_direction h2{
    font-size: 54px;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    padding-bottom: 20px;
}

.future .layouts_container{
    width: 590px;
    display: flex;
    overflow-x:scroll ;
}
.layouts_container .layouts{
    display: flex;
    grid-template-columns: auto;
    flex: none;
}
.layouts_container .layouts img{
    width: 575px;
    height: 540px;
}

.layouts_container::-webkit-scrollbar{
    display: none;
}
.layouts_container .layout{
    position: relative;
}

.skils{
    position: absolute; 
    top: 54%; 
    left: 55%; 
    transform: translate(-50%, -50%); 
    color: white; 
    text-align: left; 
    font-size: 17px;
    width: 335px;
}
.skils h4{
    font-size: 35px;
    font-weight: 900;
    -webkit-text-stroke: 0.7px #fff;
    color: transparent;
}
.skils ul{
    padding-left: 0;
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}
.controls img{
    color: white;
}
.controls #rightBtn, .controls #leftBtn {
    width: 70px;
    cursor: pointer;
    margin-left: 36px;
}
.program {
    background-color: azure;
    margin-top: 30px;
    /* background-color: #140f24; */
}
.program .main_title h2{
    font-size: 60px;
    font-weight: 900;
    -webkit-text-stroke: 2px #000;
    color: transparent;
    padding-bottom: 20px;
}
.program .container{
    display: flex;
    justify-content: center;
    border-radius: 12px;
    margin-top: 10px;
    padding: 20px;
    position: relative;
}

.program .courses{
    font-size: 2rem;
    color: white;
    width: 1200px;
    height: 600px;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 
    border-radius: 12px 0 0 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    padding-right: 650px;
    background-color: #222034;

}
.program .computer {
    width: 600px;
    border-radius: 0 12px 12px 0 ;
    position: absolute;
    margin-left: 620px;
}

.program .comp img{
    width: 120%;
    border-radius: 0 12px 12px 0 ;

}
.program .course{
    height: 100%;
    width: 100%;
    text-align: center;
    scroll-snap-align: start;
    background-color: #222034;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.course .info{
    margin-left: 40px;
}
.course h3{
    font-size: 40px;
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    padding-bottom: 15px;
}
.course ul{
    list-style-type:square;
    text-align: left;
    font-size: 18px;
}

.course li {
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
    opacity: 20%;
    border-radius: 8px;
  }
  
@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
} 

.course .info{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0%;
}

.diplom{
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 30px;
}
.diplom .tit{
    font-weight: 900;
    -webkit-text-stroke: 0.7px #fff;
    color: transparent;
}
.diplom .container {
    display: flex;
    justify-content: space-between;
    
}
.doc{
    width: 48%;
    display: flex;
    margin-left: 400px;
    border: 1px solid white;
    padding: 10px;
    margin-bottom: 20px;
}
.video {
    border: 2px solid white;

}

.why{
    background-color: #000;
    padding-top: 50px;
    padding-bottom: 30px;
}

.why .chose{
    display: flex;
    justify-content: center;
    align-items: center;
}
.why .about_chose{
    color: #fff;
    max-width: 650px !important;
}

.why .about_chose h2{
    font-weight: 900;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.gallery {
    margin-left: 200px !important;
}

.gallry .image {
    display: none;
    width: 150px;
    height: auto;
    animation: fade 0.7s forwards;
    opacity: 0;
    transition: opacity 0.7s ease;
}

.gallery img{
    max-width: 70% !important;
}

@keyframes fade {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@media (max-width: 1550px){
    .controls{
        margin-left: 56px;
    }
}

@media (max-width: 1450px){
    .controls{
        margin-left: 3px;
    }
    
    .layouts_container{
        width: 500px !important;
    }
    .layouts_container .layouts img {
        width: 490px;
        height: 460px;
    }

    .layouts_container .layouts .skils{
        font-size: 14px;
    }
}

@media (max-width: 1290px){
    .layouts_container .layouts img {
        width: 460px;
        height: 440px;
    }

    .layouts_container {
        width: 500px !important;
    }

    .layouts_container .layouts .skils h4{
        font-size: 30px;
    }

    .direction .laptop img{
        max-width: 644px;
        margin-left: 0;
    }

    .direction .prog {
        width: 59%;
    }
}

@media (max-width: 1230px) {

    .header-banner .title h1{
        font-size: 70px;
    }
    .direction .container{
        display: flex;
        flex-direction: column;
    }

    .direction .content{
        width: 100%;
    }

    .future{
        display: flex;
        flex-direction: column;

    }

    .future .about_direction{
        width: 80%;
        margin-bottom: 50px;
        
    }

    .furure .layouts_container {
        width: 600px !important;
    }

    .layouts_container .layouts img{
        width: 535px;
        height: 500px;
    }

    .program .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: static;

    }

    .program .courses{
        order: 2;
        padding-right: 0;
        width: 764px;
        height: 480;
        border-radius: 0 0 12px 12px;
        box-shadow: 0 9px 10px rgba(0, 0, 0, 0.5);
    }

    

    .program .computer{
        width: 764px;
        background-color: #222034;
        border-radius: 12px 12px  0 0 ;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        position: static;
        margin-left: 0;

    }

    .program .comp {
        width: 360px;
        order: 1;
        margin-left:26%;
    
    }

    .diplom .doc {
        margin-left: 306px;
    }
    .diplom .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .diplom .video{
        margin-bottom: 10px;

    }

    .gallery{
        margin-left: 100px !important;
    }

    .gallery img{
        max-width: 100% !important;
    }
    
}

@media (max-width: 900px){
    .program .courses{
        width: 550px;
    }

    .program .computer{
        width: 550px;
    }
    .program .comp{
        margin-left: 20%;
    }

    .program .info h3{
        font-size: 35px;
    }
    .program .info ul{
        font-size: 17px;
    }

    .diplom .doc{
        margin-left: 233px;
    }
    .diplom .vid{
        width: 400px;
        height: 250px;
    }

    .why .chose{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .why .chose .gallery{
        max-width: 40% !important;
        order: 1;
        margin-left: 65px !important;
    }

    .why .chose .about_chose{
        order: 2;
        margin-top: 30px;
        
    }

    .why .about_chose h2{
        font-size: 40px;
    }
}

@media (max-width: 730px) {
    .direction{
        font-size: 16px;
    }
    
    .direction h2{
        font-size: 40px;

    }

    .direction .laptop img{
        width: 540px;
    }

    .future .about_direction{
        font-size: 16px;
    }

    .future .about_direction h2{
        font-size: 40px;
    }
    .future .layouts_container {
        width: 400px !important;
    }

    .program .main_title h2 {
        font-size: 40px;
    }
    .controls #rightBtn, .controls #leftBtn {
        width: 50px;
        margin-left: 15px;
    }
    .layouts_container .layouts img{
        width: 400px;
        height: 400px;
    }

    .layouts_container .layouts .skils{
        width: 250px;
        font-size: 13px;
        left: 50%;
    }

    .program .courses{
        width: 450px;
        height: 340px;
    }

    .program .computer{
        width: 450px;
    }
    .program .comp{
        margin-left: 15%;
    }

    .program .comp img {
        width: 100%;
    }

    .program .info h3{
        font-size: 30px;
    }
    .program .info ul{
        font-size: 14px;
    }

    .diplom .tit h2{
        font-size: 40px;
    }

    .diplom .doc{
        margin-left:186px ;
    }
}